.about-content__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;


  }
}

.about-content__subtitle {
  height: 165px;
  margin-bottom: 27px;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  transition: transform 0.3s linear;

  @include vp-1023 {
    height: 258px;
    margin-bottom: 19px;
  }

  @include vp-767 {
    height: 203px;
    font-size: 14px;
    line-height: 19px;
  }
}

.about-content__subtitle p {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  @include vp-767 {
    margin-bottom: 18px;
  }
}

.about-content__button {
  min-width: 180px;
  min-height: 45px;
  padding: 12px 14px;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background-color: transparent;
  font-family: $ff-robotocondensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-deep-sky-blue;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-767 {
    min-width: 160px;
    min-height: 35px;
    padding: 8px 14px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      background-color: $color-deep-sky-blue;
      color: $color-default-white;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

}
