.about {
  padding-top: 60px;
  padding-bottom: 95px;
}

.about .container {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 100px;

  @include vp-1023 {
    column-gap: 29px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.about__img {
  width: 150px;
  height: 320px;

  @include vp-767 {
    display: none;
  }
}
