.about {
  padding-top: 55px;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-top: 8px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 22px;
  }
}

.about .container {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 100px;

  @include vp-1023 {
    padding-left: 46px;
    column-gap: 29px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 25px;
  }
}

.about__img {
  width: 150px;
  height: 320px;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    display: none;
  }
}
