.cards__link {
  display: block;
  position: relative;
  width: auto;
  min-height: 650px;
  padding: 40px 50px 0;
  background-color: $color-shades-silver;
  background-repeat: no-repeat;
  background-size: 350px 650px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    border: 1px solid $color-default-white;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: center center;
  }

  &--production {
    background-image: $color-black-pearl-shadow, url("../img/card-production.jpg");
  }

  &--mounting {
    background-image: $color-black-pearl-shadow, url("../img/card-mounting.jpg");
  }

  &--accessories {
    background-image: $color-black-pearl-shadow, url("../img/card-accessories.jpg");
  }

  @media (min-width: 1024px) {
    @include retina {
      &--production {
        background-image: $color-black-pearl-shadow, url("../img/card-production@2x.jpg");
      }

      &--mounting {
        background-image: $color-black-pearl-shadow, url("../img/card-mounting@2x.jpg");
      }

      &--accessories {
        background-image: $color-black-pearl-shadow, url("../img/card-accessories@2x.jpg");
      }
    }
  }

  @include vp-1023 {
    width: 100%;
    min-height: 250px;
    background-size: 670px 250px;

    &--production {
      background-image: $color-black-pearl-shadow, url("../img/card-production-tablet.jpg");
    }

    &--mounting {
      background-image: $color-black-pearl-shadow, url("../img/card-mounting-tablet.jpg");
    }

    &--accessories {
      background-image: $color-black-pearl-shadow, url("../img/card-accessories-tablet.jpg");
    }

    @include retina {
      & {
        padding: 30px;
        background-size: 670px 250px;
      }

      &--production {
        background-image: $color-black-pearl-shadow, url("../img/card-production-tablet@2x.jpg");
      }

      &--mounting {
        background-image: $color-black-pearl-shadow, url("../img/card-mounting-tablet@2x.jpg");
      }

      &--accessories {
        background-image: $color-black-pearl-shadow, url("../img/card-accessories-tablet@2x.jpg");
      }
    }
  }

  @include vp-767 {
    & {
      background-size: 270px 250px;
    }

    &--production {
      background-image: $color-black-pearl-shadow, url("../img/card-production-mobile.jpg");
    }

    &--mounting {
      background-image: $color-black-pearl-shadow, url("../img/card-mounting-mobile.jpg");
    }

    &--accessories {
      background-image: $color-black-pearl-shadow, url("../img/card-accessories-mobile.jpg");
    }

    @include retina {
      & {
        background-size: 270px 250px;
      }

      &--production {
        background-image: $color-black-pearl-shadow, url("../img/card-production-mobile@2x.jpg");
      }

      &--mounting {
        background-image: $color-black-pearl-shadow, url("../img/card-mounting-mobile@2x.jpg");
      }

      &--accessories {
        background-image: $color-black-pearl-shadow, url("../img/card-accessories-mobile@2x.jpg");
      }
    }
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px 0 $color-deep-sky-blue;
    }

    &:active {
      box-shadow: 0 3px 5px 0 $color-deep-sky-blue;
    }
  }
}

.cards__title {
  width: 230px;
  margin: 0;
  margin-right: 20px;
  padding-right: 60px;
  font-family: $ff-robotocondensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $color-default-white;

  @include vp-767 {
    width: 100%;
    margin: 0;
  }
}



.cards__icon {
  fill: $color-default-white;
}
