.feedback {
  padding-top: 164px;
  padding-bottom: 246px;
  background-color: $color-deep-sky-blue-form;
  background-image: url("../img/form.jpg");
  background-repeat: no-repeat;
  background-position: 3px -578px;

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/form@2x.jpg");
      background-size: 1920px auto;
    }
  }

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 125px;
    background-image: none;
  }

  @include vp-767 {
    padding-bottom: 88px;
  }
}

.feedback .container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 120px;
  padding-right: 50px;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    padding-right: 25px;
  }
}

.feedback__wrapper-image {
  margin-top: 82px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__image {
  display: block;
  width: 100%;
  max-width: 510px;
  height: auto;
  max-height: 285px;
}
