.footer {
  background-color: $color-black-pearl;
}

.footer .container {
  display: grid;
  grid-template-columns: 355px 480px 1fr;
  gap: 20px;
  padding-top: 54px;
  padding-bottom: 48px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 27px;
    padding-top: 50px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 35px 0;
  }
}
