.form-modal__title {
  @include form-title;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 42px;
}

.form-modal__subtitle {
  @include form-subtitle;
  margin-bottom: 38px;
  padding-right: 40px;
}
