.header {
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 35px;
  background: $black-pearl-to-bottom;
  z-index: 1;

  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1920px;
  }

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
    min-height: 100px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 70px;
  }
}
