.main-screen .container {
  padding: 200px 165px 285px;

  @include vp-1023 {
    padding: 96px 50px 205px;
  }

  @include vp-767 {
    padding: 97px 25px 190px;
  }
}

.main-screen {
  margin-top: -17px;
  background-color: $color-black-pearl;
  background-image: $black-pearl-main, url("../img/main-fon.jpg");
  background-repeat: no-repeat;
  background-position: 0 -103px;

  @media (min-width: 1024px) {
    @include retina {
      background-image:$black-pearl-main, url("../img/main-fon@2x.jpg");
      background-size: 1920px auto;
    }
  }

  @include vp-1023 {
    background-size: 1396px auto;
    background-position: -121px -83px;

    @include retina {
      background-size: 1396px auto;
    }
  }

  @include vp-767 {
    background-size: 1220px auto;
    background-position: -229px -53px;

    @include retina {
      background-size: 1220px auto;
    }
  }
}

.main-screen__title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-family: $ff-robotocondensed;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-bottom: 1px;
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 42px;
  }
}

.main-screen__subtitle {
  width: 685px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-family: $ff-ptmono;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: $color-alice-blue;

  @include vp-1023 {
    width: 100%;
    margin-bottom: 57px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 22px;
  }
}

.main-screen__button {
  display: inline-block;
  padding: 15px 25px;
  border: none;
  border-radius: 3px;
  background-color: $color-deep-sky-blue;
  font-family: $ff-robotocondensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
  cursor: pointer;

  @include vp-1023 {
    margin-left: 45px;
    padding-bottom: 19px;
    padding-right: 29px;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 12px 37px 12px 38px;
    font-size: 14px;
    line-height: 16px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      background-color: $color-neon-blue;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.main-screen__desktop {

  @include vp-767 {
    display: none;
  }
}

.main-screen__mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
