.navigation {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  @include vp-1023 {
    grid-template-columns: 215px 1fr;
  }

  @include vp-767 {
    grid-template-columns: 40px 1fr;
  }
}

.navigation__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 470px;
  margin: 0 auto;
  padding: 0;

  @include vp-1023 {
    width: auto;
    margin: 0;
    justify-content: flex-end;
  }

  @include vp-767 {
    margin-top: -5px;
    padding: 0 10px 0 0;
  }
}

.navigation__callback {
  justify-self: end;
  align-self: center;
  min-width: 160px;
  margin-right: 60px;
  padding: 10px 15px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: $color-transparent;
  font-family: $ff-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      border-color: $color-deep-sky-blue;
      color: $color-deep-sky-blue;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  @include vp-1023 {
    display: none;
  }
}

.navigation__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}
