.products {
  padding-top: 65px;
  padding-bottom: 140px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 86px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 55px;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $color-default-white;

  &--mobile {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    display: none;
    margin-bottom: 29px;
    font-size: 28px;
    line-height: 39px;

    &--mobile {
      display: block;
      padding-right: 40px;
    }
  }
}

.products__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @include vp-1023 {

    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.products__item {
  min-width: 0;
  list-style-type: none;
}
