.section-site {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 26px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    display: grid;
    gap: 0;
    border-bottom: 1px solid $color-alice-blue-shadow;
  }
}

.section-site__title {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 0;

  @include footer-title;

  @include vp-767 {
    margin: 0;
  }
}

.section-site__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.section-site__list {
  @include footer-subtitle-list;
}

.section-site__sub-list {
  @include footer-subtitle-list;
}

.section-site__item {
  list-style-type: none;
}

.section-site__link {
  @include footer-subtitle;
  @include footer-subtitle-hover;
}

.section-site__sub-link {
  @include footer-subtitle;
  @include footer-subtitle-hover;
}
