.social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  @include vp-767 {
    flex-direction: column;
    padding-bottom: 19px;
    border-bottom: 1px solid $color-alice-blue-shadow;
  }
}

.social__logo {
  width: 215px;
  height: 55px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      opacity: 0.8  ;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  @include vp-1023 {
    margin: 0 auto;
    margin-right: -5px;
    margin-top: 5px;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.social__item {
  list-style-type: none;
}

.social__link {
  display: block;

  @media (hover: hover), screen and (min-width: 0\0) {

    &:hover .social__icon,
    &:focus .social__icon {
      fill: $color-deep-sky-blue;
    }

    &:active .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  display: block;
  fill: $color-alice-blue-no-shadow;
}
