.toogle {
  display: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  background-color: $color-transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $color-shades-silver;
    transition: transform 0.3s linear;
  }

  &::after {
    transform: rotate(90deg);
  }

  @include vp-767 {
    display: block;
    justify-self: end;
  }
}
